.bg-section-top-1 {
  background-image: url('~assets/img/bg-section-top-mobile-1.svg');
}

.bg-section-bottom-1 {
  background-image: url('~assets/img/bg-section-bottom-mobile-1.svg');
}

.bg-section-top-2 {
  background-image: url('~assets/img/bg-section-top-mobile-2.svg');
}

.bg-section-bottom-2 {
  background-image: url('~assets/img/bg-section-bottom-mobile-2.svg');
}

.bg-footer-top {
  background-image: url('~assets/img/bg-footer-top-mobile.svg');
}

@media only screen and (min-width: 1024px) {
  .bg-section-top-1 {
    background-image: url('~assets/img/bg-section-top-desktop-1.svg');
  }
  
  .bg-section-bottom-1 {
    background-image: url('~assets/img/bg-section-bottom-desktop-1.svg');
  }
  
  .bg-section-top-2 {
    background-image: url('~assets/img/bg-section-top-desktop-2.svg');
  }
  
  .bg-section-bottom-2 {
    background-image: url('~assets/img/bg-section-bottom-desktop-2.svg');
  }
  
  .bg-footer-top {
    background-image: url('~assets/img/bg-footer-top-desktop.svg');
  }
}